<div class="container mt-4">
  <h1>Add a movie to <%= @list.name %></h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :movie, collection: @movies, prompt: "Select a movie" %>
      <%= f.input :comment %>
    </div>

    <div class="form-actions mt-3">
      <%= f.button :submit, "Add movie", class: "btn btn-netflix-primary" %>
      <%= link_to "Back to list", list_path(@list), class: "btn btn-netflix-secondary" %>
    </div>
  <% end %>
</div>